body 
{
    padding-top: 50px;
    color: #959595;
}

h1, h2, h3, h4, h5, h6 
{
    color: black;
}

.feature 
{
    background: #FFFFFF;
    color: black;
}

#feature-carousel 
{
    min-height: 250px;
}

.article-intro 
{
   margin-bottom: 25px;
}

.footer-blurb 
{
   padding: 30px 0;
   background-color: yellowgreen;
   color: black;
}
   
.footer-blurb-item 
{
   padding: 30px;
}

.small-print 
{
    background-color: #fff;
}

.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print 
{
    text-align: center;
}

.navbar-inverse
{
    background: #FFFFFF;
    border-color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
    color: #FFFFFF;
    background: #48569f;
}

.navbar-inverse .navbar-nav>li>a
{
    color: #48569f;
}

.navbar-inverse .navbar-nav>li>a:hover
{
    color: #eb9605;
}

.navbar-inverse .navbar-nav>li>a:focus
{
    color: #eb9605;
}

.jumbotron 
{
    height: 78vh;
}

.carousel-inner
{
    margin-top: 15%;
}

.footer
{
    height: 9vh;
}